In [ ]:
python

SQL

Hadoop

HDFS

HIVE

Apache Sqoop -----> current topic

In [ ]:
mainFrame ---->  DB2 ------>

In [ ]:
extract some data from DB2 ---->  he want to have some report on top of the data

In [ ]:
what a DE will do in this req?

1. extract data from DB2 place it on HDFS
2. By using you will process data as per the business logic  ( will be provided by either business user or BSA )
3. After processing ---> you are going to load data in a table ( reporting_layer.emp_summary )

we will be handover reporting_layer.emp_summary to power Bi Team ----> BI Team will create BI dashboard or report out of this data

In [ ]:
1. extract data from DB2 place it on HDFS     ===========> extarct data from DB2 to HDFS   ===> we need an import/ export to
                                                                                                work on JDBC support databeses  (Apche SQoop)
2. By using you will process data as per the business logic   ====> apache spark  ====> writing to the same path as we are giving in external table 
3. After processing ---> you are going to load data in a table ( reporting_layer.emp_summary )   ====> we will creating an hive external table 
                                                                                                    same path

In [ ]:
1. extract data from DB2 place it on HDFS :-
============================================
SQoop is an import and export tool, to copy data from jdbc connector supported databases 

DB2 to HDFS  ==> import
HDFS to DB2  ==> export


whenever we do table load we have two types of loads

1. Full load or Onetime load
2. incremenatl load

In [ ]:
full load or onetime load :-
===========================

you have one table on DB2 -- table1 ( contains 2000 records )

req:- we want to have the same data which is acutaully present in DB2 ( table1 )   ===> HIVE

today - 2000
tmw -- 2100  ===> 100 record are incremental records


hive:-
----
we use sqoop to import data whateer present in the table1  ===> on very 1st day  --> full load job
now in hive we have 2000 records 

we need to incremnatal load

2100 ---> append to our hive table ---> which is actually causes duplicates


DB2 ---> to avoid duplicate issue we need to capture, new records =====> incremnatal load

100

2000 + 100 = 2100

In [ ]:
           /data/raw/tabl1/ 
           /data/raw/tabl1/archive/2000 --->  100 record

2am  ---> 30min

3am ----> process /data/raw/tabl1/  ----> we will moved data into archive folder


either job fail / success ===> Email --> notification sucess/ fail ---> SMTP