In [ ]:
# Hive

1. how to create a hive table ( managed table / External table )
2. what is partitioning and bucketing
3. what is predicate pushdown
4. how to load hive tables
5. what is dead lock

In [ ]:
# internal table

CREATE TABLE employee_internal (
    emp_id INT,
    name STRING,
    department STRING,
    salary FLOAT
)
STORED AS ORC;

In [1]:
# external table

CREATE EXTERNAL TABLE employee_external (
    emp_id INT,
    name STRING,
    department STRING,
    salary FLOAT
)
STORED AS ORC
LOCATION '/data/cdf/emp_table_data/';

In [ ]:
/data/cdf/emp_table_data/

In [ ]:
raw_data on hdfs from spurce ---------> by using spark raw to curated data --------> /data/cdf/emp_table_data/

In [ ]:
df.write.format('orc').save("emp.employee_internal")


df.write.format('orc').save("/data/cdf/emp_table_data/")

In [ ]:
desc emp.employee_external;

In [ ]:
SHOW CREATE TABLE employee_external;

In [ ]:
CREATE EXTERNAL TABLE `employee_external`(
  `emp_id` int, 
  `name` string, 
  `department` string, 
  `salary` float)
STORED AS ORC
LOCATION
  'hdfs://user/hadoop/external_data/employee'
TBLPROPERTIES (
  'EXTERNAL'='TRUE'
);

In [ ]:
 what is partitioning and bucketing

In [ ]:
CREATE EXTERNAL TABLE employee_csv (
    emp_id INT,
    name STRING,
    department STRING,
    salary FLOAT
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
STORED AS TEXTFILE
LOCATION '/user/hadoop/external_data/employee_csv/';

In [ ]:
# what is partitioning and bucketing

In [ ]:
 # what is predicate pushdown

reading emp table data by using spark  ---> 2L  ==> dataframe
applying df1 = df.filter(col("age")>35)  ====> 50k

-----------------------------------------------------

predicate pushdown:-
===================

physical plan 
1st step

push the filter to the database or datawarehouse ---->

In [ ]:
apache sqoop

In [ ]:
# req:-?
1. we want to do full load ---> extarct data from table1 place it in hdfs path

dbname : cdf
table name : email

sqoop import -connect jbdc:mysql://hostname/cdf -username user1 -password passcode -table table1 -target-dir /hdfs/path/ -m 3

# importing all tables by excluding some table

sqoop import -connect jdbc:mysql://hostname/dbname -username user1 -password passcode  -target-dir /hdfs/path/ -exclude-table emp,adress -m 10 

# File format of import?
---------------------
default importing type if CSV, but we can specify other delimeter as well

tab delimeter \t

sqoop import -connect jdbc:mysql://hostname/dbname -username user1 -password passcode -query 'select * from emp where sal > 3' -target-dir /hdfs/path/ 
-filed-terminated-by '\t' -enclosed-by '"'

In [ ]:
Distcp:-
=======

mappers:-
-------

parllesl process ----> -m 3
3 parlell prcoess