In [ ]:
Hive:-
====

emp.orc ----> stored somehwere on your hdfs 

map reduce  --->  programs ----> java 

SQL ----> HIVE ---> hiveql   ----> by having table ---> 

schema ---> tables ---> query  -----> map reduce tasks ----> it show the result

In [ ]:
database: cdf
table : emp

select * from cdf.emp;



Derby  database  
================

In [ ]:
Hive:-
-----

tables

two types:-
-----------

1. Internal tables or managed tables
2. External Tables

create table table_name (sno int, name string)

create external table table_name (sno int, name string) 
location /c/as/dds/

In [ ]:
1. schema will go away alomg with the data 

2. only schema will get droped, data reamins in the same location

whenever you create table with the same schema you will be able to query the data

In [ ]:
schema on read :-
----------------

external table :- A, B, C
                    int, int, int


daily you spark job is getting ttriggered and you wirintg into the table 

today ---> A, B, C    ============> today jobs write
            string, int, int

when you are writing into the table, you won't get any error becasue of schema mismatch

now you are quering the data ----> now it will give error

In [ ]:
Schema on write:-
================
when you have delta table 

table1 
A   B    C
int int  int

accidnetaly written in the below shcmea

A   B   C
string int int

whener you write the data that time itself it gives the error